html{
    display: inline-flex;
}
header{
    position: absolute;
    display: inline;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 136px;
    
    background: #219EBC;
}
.logo-image {
    position: absolute;
    width: 121px;
    height: 114px;
    left: 28px;
    top: 11px;
}

header p{
    position: absolute;
    margin: 0;
    width: 570px;
    height: 59px;
    left: 162px;
    top: 0px;

    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;

    color: #FFFFFF;
}

.header-icons{
    position: absolute;
    display: inline-flex;
    right: 10px;
    top: 10px;
}

.header-icons img{
    position: relative;
    width: auto;
    margin: 0px 2px;
    height: 30px;
    top: 0px;
}

main{
    position: absolute;
    width: 1440px;
    height: 308px;
    left: 0px;
    top: 136px;

    background: #023047;
}

.course-intro{

}

#course-name{
    position: absolute;
    width: 1151px;
    height: 50px;
    left: 162px;
    top: 0px;
    
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 0px;
    
    /* identical to box height */
    
    color: #FFFFFF;
    
    
}

#course-description{
    position: absolute;
    width: 1414px;
    height: 226px;
    left: 15px;
    top: 50px;

    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;

    color: #FFFFFF;
}

footer{
    position: absolute;
    width: 1440px;
    height: 589px;
    left: 0px;
    top: 436px;

    background: #8ECAE6;
}

.search-icon{
    position: absolute;
    display: inline-flex;
    right: 10px;
    top: 10px;
}

.search-icon img{
    position: relative;
    width: auto;
    margin: 0px 2px;
    height: 30px;
    top: 0px;
}
